.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

.rgba-gradient-blue {
  background: rgb(90,175,234);
  background: -moz-radial-gradient(center, ellipse cover, rgba(90,175,234,.85) 0%, rgba(59,97,176,.85) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(90,175,234,.85) 0%,rgba(59,97,176,.85) 100%);
  background: radial-gradient(ellipse at center, rgba(90,175,234,.85) 0%,rgba(59,97,176,.85) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aafea', endColorstr='#3b61b0',GradientType=1 );
}

.rgba-gradient-blue-syg {
  background: rgb(40,108,131);
  background: -moz-radial-gradient(center, ellipse cover, rgba(40,108,131,.6) 0%, rgba(17,61,77,.6) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(40,108,131,.6) 0%,rgba(17,61,77,.6) 100%);
  background: radial-gradient(ellipse at center, rgba(40,108,131,.6) 0%,rgba(17,61,77,.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#286c83', endColorstr='#113d4d',GradientType=1 );
}

$gradientStart:  rgba(133,188,208,.9);
$gradientStop:  rgba(42,100,122,.7);

.rgba-gradient-blue-syg2 {
  background: -moz-linear-gradient(45deg, $gradientStart, $gradientStop 100%);
  background: -webkit-linear-gradient(45deg, $gradientStart, $gradientStop 100%);
  background: -webkit-gradient(linear, 45deg, from($gradientStart), to($gradientStop));
  background: -o-linear-gradient(45deg, $gradientStart, $gradientStop 100%);
  background: linear-gradient(to 45deg, $gradientStart, $gradientStop 100%);
}

$red: #db203d;
$gray: #465665;
$light-gray: #a1a4a9;
$blue-syg: #127ea5;
$apla: #e8edf0;

.btn-danger {
  background-color: $red!important;
}

.btn-gray {
  background-color: $gray;

  &:hover {
    color: #fff;
  }
}

.bg-gray {
  background-color: $gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.btn-light-gray {
  color:#fff!important;
  background-color: $light-gray;

  &:hover {
    background-color: $red!important;
    color: #fff;
  }
}

.note {
  padding: 10px;
  border-left: none;
  border-top: 3px solid;
  border-radius: 0;

  &.note-info {
    background-color: $apla;
    border-color: $red;
  }
}

.blue-syg-text {
  color: $blue-syg;
}

.bg-blue-syg {
  background-color: $blue-syg;
}

.bg-gray {
  background-color: $gray;
}

.text-shadow {
  text-shadow: 0px 2px 10px rgba(0,0,0, .4);
}

.my-6, .mt-6 {
  margin-top: 3.5rem;
}

.my-6, .mb-6 {
  margin-bottom: 3.5rem;
}

.my-7, .mt-7 {
  margin-top: 4rem;
}

.my-7, .mb-7 {
  margin-bottom: 4rem;
}

.my-8, .mt-8 {
  margin-top: 4.5rem;
}

.my-8, .mb-8 {
  margin-bottom: 4.5rem;
}

.my-9, .mt-9 {
  margin-top: 5rem;
}

.my-9, .mb-9 {
  margin-bottom: 5rem;
}

.my-10, .mt-10 {
  margin-top: 6rem;
}

.my-10, .mb-10 {
  margin-bottom: 6rem;
}

.my-11, .mt-11 {
  margin-top: 7rem;
}

.my-11, .mb-11 {
  margin-bottom: 7rem;
}

.my-12, .mt-12 {
  margin-top: 8rem;
}

.my-12, .mb-12 {
  margin-bottom: 8rem;
}