@import "custom-variables";

.view {
    &.home-intro {
    height: 450px;

    #logo {
      width: 400px;

      @include media-breakpoint-down(sm) {
        width: 250px;
      }
    }

    span {
      display: block;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      height: 550px;
    }

    span {
      @include media-breakpoint-down(sm) {
        margin-top: 70px;
      }
    }
  }

  &.page-intro {
    height: 200px;

    span {
      display: block;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }
  
}

.top-nav-collapse {
  background-color: #01579b!important;
}

.navbar:not(.top-nav-collapse) {
  background: #01579b!important;
}

.home .navbar:not(.top-nav-collapse) {
  // background: transparent !important;
  background: #01579b!important;
}

#logo-nav {
  width: 180px;
}

@include media-breakpoint-down(lg) {
  .navbar:not(.top-nav-collapse) {
    background: #01579b!important;
  }
}

.card-wrapper {
  .face {

    &.front {
      height: 100%;

      .card-body {
        margin-top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.md-tabs {
  .nav-item {
      @include media-breakpoint-down(sm) {
        flex-basis: 100%;
      }
  }
}

.accordion {
   h2 {
    .btn {
      font-size: 1rem;
    }
   }
}

.footer-info {
  &.widget_nav_menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

        li {
          padding-bottom: .7rem;

          a {
            &:hover {
              color: $red;
            }
          }

          &.current-menu-item {
            a {
              color: $red;
            }
          }
        }
    }
  }
}

.custom-tabs {

  .custom-tabs-menu {
    .col-lg-3 {
      margin: 0;
    }
  }

  .custom-tabs-content {

  }
}

.single-thumbnail {
    @include media-breakpoint-up(lg) {
      width: 300px;
    }
}

.post-navigation {

  h2 {
    font-size: 1.3rem;
  }

  .nav-links {
    .nav-previous {

    }

    .nav-next {
      margin-top: 5px;
    }
  }
}

.comments-area {

  .comment {
    margin-bottom: 15px;

    .comment-metadata {
      a {
        color: rgba(0,0,0,.65);
        font-size: .8rem;
      }
    }
  }

  .comment-reply-title {
    font-size: 1.3rem;
  }
}

.home {
  .entry-content {
    .col-md-4 {
        @include media-breakpoint-down(md) {
         margin-bottom: 45px;

         p {
          margin-bottom: 1rem!important;
         }
        }
    }
  }
}

hr {
  &.wp-block-separator {
    margin: 4rem 0;
  }
}

strong {
  font-weight: bold;
}

.wow {
  visibility: hidden;
}

.wpcf7 {
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked,  [type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: auto;
  }

  .subject {
    .select-dropdown {
      color: #757575;
    }
  }

  .recipientsex1, .recipientsex2 {
    label {
      position: relative;

      .wpcf7-list-item-label {
        cursor: pointer;
      }
    }
  }


}

.hidden {
  display: none;
}